{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier", "eslint-plugin-prettier", "import", "import-helpers", "prettier", "@typescript-eslint"],
  "settings": {
    "react": {
      "version": "detect",
      "extensions": ["js", "jsx", "ts", "tsx"]
    },
    "import/resolver": {
      "alias": {
        "map": [
          [
            "~mocks",
            "./src/mocks"
          ]
        ],
        "extensions": [
          ".ts",
          ".js",
          ".jsx",
          ".json"
        ]
      }
    }
  },
  "rules": {
    "semi": 0,
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-empty-interface": [
      "error",
      {
        "allowSingleExtends": true
      }
    ],
    "dot-location": ["error", "property"],
    "eqeqeq": ["error", "always"],
    "no-confusing-arrow": [
      "error",
      {
        "allowParens": true,
        "onlyOneSimpleParam": false
      }
    ],
    "no-console": ["warn", { "allow": ["error"] }],
    "react/prop-types": "off",
    "no-unsafe-negation": "error",
    "no-global-assign": "error",
    "no-negated-in-lhs": "off",
    "no-native-reassign": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "import/extensions": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "no-extra-boolean-cast": 0,
    "no-nested-ternary": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-shadow": "off",
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "prettier/prettier": "error",
    "react/destructuring-assignment": 0,
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "function-declaration",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".tsx"] }],
    "react/jsx-no-constructed-context-values": 0,
    "react/jsx-no-useless-fragment": ["error", { "allowExpressions": true }],
    "react/jsx-props-no-spreading": 0,
    "react/require-default-props": 0,
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          "/^react/",
          "module",
          "/^~/",
          "/^@/",
          [
            "parent",
            "sibling",
            "index"
          ]
        ],
        "alphabetize": {
          "order": "asc",
          "ignoreCase": true
        }
      }
    ]
  }
}
